   .container {
       padding: 1em;
       width: 80%;
   }
   
   .col1 {
       float: left;
       width: 50%;
   }
   
   .col2 {
       float: left;
       width: 50%;
   }
   
   .col3 {
       float: left;
       width: 50%;
   }
   
   .slider {
       float: left;
       width: 100%;
   }
   
   .col:nth-child(1) {
       width: 50%;
   }
   
   .col:nth-child(2) {
       width: 50%;
   }